@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

html, body {
  padding: 0; 
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #531c80;
}

#container {
  height: 520px;
  width: 1600px;
  margin: 0% auto;
  position: relative;
  box-shadow: 4px 10px 20px rgba(55, 52, 73, .4);
  background-color: #7834af;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -6px 20px -6px;
}

/* NAVIGATION */
nav {
  display: block;
  float: left;
  margin: 1em;
  margin-top: 2.4em;  
  font-size: 15px;
}
.navbar a {
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 10px 10px;
}
.navbar a:hover {
  background: #b923a5;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.5s ease;
    color: white;
}

/* BANNER INFORMATION */
.section {
  position: absolute;
  margin-top: 10%;
  margin-left: 5%;
  width: 100%;
  height: 80%;
}

a.bttn {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #fff;
}
a.bttn:focus {
  color: #fff;
}

.bttn {
  margin-top: 2px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 10px;
  font-weight: bold;
  padding: 7px 0px 16px;
  border: 3px solid #b923a5;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #b923a5;
  z-index: -2;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.highlight {
  background-color: #b923a5;
}

.button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 35px 0px 0px 700px;
}
.button:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}
.one {
  background: rgb(255, 255, 255);
}
.two {
  background: #ffffff;
  left: 35px;
}
.three {
  background: #ffffff;
  left: 70px;
}

.banner img {
  height: 460px;
  position: absolute;
  top: -160px;
  right: 80px;
  z-index: 1;
  border-radius: 0px 15px 0px 0px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.5em;
   
}
#title {
  transition: all 1s ease;
}
h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: -20px;
  letter-spacing: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0 45px;
  text-transform: uppercase;
  color: #ffffff;
}

/* ARTICLES */  
#container2 {
  height: 430px;
  width: 1600px;
  background-color: #7834af;
  margin: 0% auto;
  position: relative;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 16px 20px -6px #000000;
}

#middle{
  padding: 25px 30px 0px 30px;
  display: flex;
  flex: 1;
  justify-content: center;
}

article {
  width: 400px;
	background-color: white;
}
article img {
  width: 320px;
  height: 200px;
  border-radius: 2px;
  box-shadow: 0px -20px 45px -9px rgba(39, 38, 39, 0.4);
}

.content_1 {
  width: 320px;
  height: 380px;
  background-color: white;
  margin-right: 20px;
  border-radius: 2px;
  box-shadow: 0px 20px 45px -9px rgba(39, 38, 39, 0.4);
}
.content_1:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.content_2 {
  width: 320px;
  height: 380px;
  background-color: white;
  margin-right: 20px;
	border-radius: 2px;
  box-shadow: 0px 20px 45px -9px rgba(39, 38, 39, 0.4);
}
.content_2:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.content_3 {
  width: 320px;
  height: 380px;
  background-color: white;
	border-radius: 2px;
  box-shadow: 0px 20px 45px -9px rgba(39, 38, 39, 0.4);
}
.content_3:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

article h2 {
  font-family: 'Roboto Condensed', sans-serif; 
  margin-left: 5px; 
  margin-top: 10px;
  color: black;
  letter-spacing: 0;
  text-transform: none  ;
}

article p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  color: rgb(14, 14, 14);
  margin-left: -40px;
  margin-top: 15px;
  text-transform: none;
  letter-spacing: 0px;
}


/* RESPONSIVE */
@media screen and (max-width: 768px){
  body{
    display: block;
  }

  nav {
    font-size: 17px;
    margin-top: 30px;
    margin-left: 1%;
  }

  .section {
    margin-top: 20%;
    margin-left: 3%;
    width: 70%;
    height: 30%;
  }

  .section h1 {
    font-size: 2.5em;
  }

  .section h2 {
    font-size: 1.1em;   
  }

  .banner img {
    height: 255px;
    position: inherit;
    margin-left: 10px;
    margin-left: 0%;
    margin-top: 2%;
  }

  .button {
    margin: 100px 0px 0px 125px;
    width: 30px;
    height: 30px;
  }

  #container {
    height: 950px;
    width: 360px;
  }

  #container2 {
    height: 1330px;
    width: 360px;
  }

  .content_1 {
    margin-bottom: 6%;
  }

  .content_2 {
    margin-bottom: 6%;
  }

  #middle {
    display: block;
    margin-left: 0%;
  } 

  .bttn {
    padding: 15px 5px 35px 5px;
    font-size: 25px;
    width: 250px;
  }

}